.demo {
    position: relative;
    height: 300px;
    overflow: hidden;
  
  
    .gradient {
      overflow: hidden;
      height: 300px;
      background-color: rgba(8, 0, 103, 1);
      background-image: linear-gradient(0deg, rgba(0, 7, 88, 0.8), rgba(8, 0, 103, 1));
      text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        background: radial-gradient(rgba(101, 0, 117, 1) 12.18%, rgba(85, 15, 100, 0) 73.53%);
        width: 100%;
        height: 200%;
        right: -30%;
        top: 0;
      }
      &::after {
        background: radial-gradient(rgba(0, 133, 93, 1) 2.94%, rgba(0, 173, 159, 0) 69.33%);
      }
    }
    
  
  }
  
  .wave {
          overflow: hidden;
          position: absolute;
          width: 140%;
          transform: translateY(-50%);
          color: #fff;
          margin-left: -20%;
          animation: 3s ease-in-out infinite alternate waveAnimateA;
    
    
      svg {
          fill: currentColor;
          width: 102%;
          margin-left: -1%;
          height: auto;
      }
  }
  
      
  
  @keyframes waveAnimateA {
      0% {
          transform: translate(-80px,-52%);
      }
  
      100% {
          transform: translate(80px,-50%);
      }
  }
  
  
  /*---------*/
  .demo2 {
      width: 100%;
      height: 300px;
      position: relative;
    
      .parallax > use {
        animation: waveAnimateB 14s linear infinite;
    
        &:nth-child(1) {
          animation-delay: -2s;
          animation-duration: 7s;
          fill-opacity: .2;
        }
    
        &:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 12s;
          fill-opacity: 1;
        }
      }
    }
    
    
    @keyframes waveAnimateB {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
    
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }
    