* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.title {
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: transparent;
    padding: 36px 32px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
 }

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212121;
    z-index: 1;
    opacity: 0.85;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

.btn {
    background: #546FFF;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

.section {
    padding: 20px 0;
}

.section-a {
    height: 100vh;
    width: 100vw;
    background: #333;
    color: white;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-b {
    background: white;
    color: #333;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-c {
    background: #333;
    color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}
.section-d {
    background: darkblue;
    color: #fff;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
} 


@media(max-width: 960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.loader-bg{
    position: fixed;
    z-index: 999999;
    background: #212121;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    background-color: white;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}

.dots:nth-child(2){
    animation-delay: 0.2s;
}

.dots:nth-child(3){
    animation-delay: 0.4s;
}

.dots:nth-child(4){
    animation-delay: 0.8s;
}

.dots:nth-child(5){
    animation-delay: 1s;
}

.dots:nth-child(6 ){
    animation-delay: 1.2s;
}

@keyframes anim {
    0%, 100% {
        transform: scale(0.2s);
    }

    50% {
        transform: scale(1);
    }
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
    background: #546FFF;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

main {
    /* position: fixed; */
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
}

.slider {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 2800px;
    height: 100%;
}

.slider-inner {
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item {
    position: relative;
    width: 400px;
    height: 100%;
    overflow: hidden;
    background-color: red;
}

.img {
    position: absolute;
    left: -100px;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;

}