* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html:not([data-scroll='0']) .openMenu {
    right: 40px;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
    
}


/* Nav */

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 99;
    background-color: transparent;
    padding: 36px 32px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-right: -100px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav .openMenu {
    font-size: 2.5rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: white;
    position: fixed;
}
nav .menu .closeMenu , .icons i {
    font-size: 2rem;
    color: white;
    display: none;
    cursor: pointer;
    margin-top: 30px;
}
.fa-linkedin:hover {color: rgb(86, 154, 243);}
.fa-youtube:hover {color: rgb(255 0 0);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

/* Nav einde */


/* Header */

.title {
    color: white;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
 }

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212121;
    z-index: 1;
    opacity: 0.85;
}

.header-content {
    z-index: 2;
    margin-bottom: 50px;
}

.header-content h1 {
    font-size: 42px;
    margin-bottom: 10;
}

.header-content p {
    font-size: 1.2rem;
    display: block;
    padding-bottom: 2rem;
}

.btn {
    background: #546FFF;
    color: white;
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    border-radius: 5px;
}

/* Header einde */

.project-tile {
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16/9;
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
  }
  .project-tile img {
    width: 100%;
    height: auto;
  }
  
  .project-desc {
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    opacity: 0;
    background-color: black;
    font-size: 20px;
    padding: 5%;
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.5s ease-in-out;
  }
  
  .project-tile:hover .project-desc {
    opacity: 0.8;
    z-index: 2;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-wrap: wrap;
    margin: 130px auto;
    gap: 50px;
  /*   border: 1px solid red; */
  }
  
  .project-tile:hover {
    box-shadow: 5px 5px 10px black;
    transform: scale(1.05);
  }
  
  .view-project-button {
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    width: relative;
    font-size: 15px;
    height: auto;
    padding: 7px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    text-decoration: none;
  }
  
  .view-project-button:hover{
    background-color: white;
    color: black !important;
    text-decoration: none;
  }
  /* project-section changed to projects */
  #projects > .text-wrapper {
    margin: 0 auto;
    text-align: left; /* DONT FORGET THIS */
  }

  

/* Sections */

.section {
    padding: 20px 0;
}

.section-a {
    height: 100vh;
    width: 100vw;
    background: #333;
    color: white;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.section-a .container p, h3{
    text-align: left;
}

.section-b {
    background: #333;
    color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.section-c {
    background: #333;
    color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.title-skill {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.section-d {
    background: #333;
    color: #fff;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
}

.section-e {
    background: #333;
    color: #fff;
    height: 110vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;  
} 

.circles {
    display: flex;
    justify-content: space-around;
    width: 75%;
    position: absolute;
    color: white;
    font-size: 200px;
}

.circle-1 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: #212121;
    border-radius: 50%; 
    box-shadow: black 5px 5px 5px;
}

.circle-2 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: #212121;
    border-radius: 50%;
    box-shadow: black 5px 5px 5px;
}

.circle-3 {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: #212121;
    border-radius: 50%;
    box-shadow: black 5px 5px 5px;
}

.socials-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 120px;
}

/* Sections einde */


/* Loading screen */

.loader-bg{
    position: fixed;
    z-index: 999999;
    background: #212121;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    background-color: white;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}

.dots:nth-child(2){
    animation-delay: 0.2s;
}

.dots:nth-child(3){
    animation-delay: 0.4s;
}

.dots:nth-child(4){
    animation-delay: 0.8s;
}

.dots:nth-child(5){
    animation-delay: 1s;
}

.dots:nth-child(6 ){
    animation-delay: 1.2s;
}

@keyframes anim {
    0%, 100% {
        transform: scale(0.2s);
    }

    50% {
        transform: scale(1);
    }
}

/* Loading screen einde */


/* Go to top button */

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
    background: #546FFF;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

/* Go to top button einde */

.container-form{
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    color:#485e74;
  }
  
  ul{
    list-style: none;
    padding:0;
  }
  
  .brand{
    text-align: center;
  }
  
  .brand span{
    color:#fff;
  }
  
  .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding: 1em;
  }
  
  .company-info{
    background:#212121;
  }
  
  .company-info h3, .company-info ul{
    text-align: center;
    margin:0 0 1rem 0;
  }
  
  .contact{
    background: grey;
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding:1em;
    border:1px solid #c9e6ff;
  }
  
  .contact form button{
    background:#c9e6ff;
    border:0;
    text-transform: uppercase;
  }
  
  .contact form button:hover,.contact form button:focus{
    background:#92bde7;
    color:#fff;
    outline:0;
    transition: background-color 2s ease-out;
  }
  
  /* LARGE SCREENS */
  @media(min-width:700px){
    .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  
    .wrapper > *{
      padding:2em;
    }
  
    .company-info h3, .company-info ul, .brand{
      text-align: left;
    }
  }


/* Media querries */

@media(max-width: 960px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media(min-width: 1180px){
    .socials-title {
        margin-top: 70px;
    }
}

@media(max-width: 1180px){

    ul {
       flex-direction: column;
       top: 455%;
       display: flex;
       gap: 50px;
    }

    .socials-title {
        margin-top: 40px;
    }

    nav .menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0px;
        width: 100%;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        opacity: 97%;
        transition: top 1s ease;
        display: none;
    }

    .header-content h1 {
        font-size: 32px;
    }
    
    .header-content p {
        font-size: 1rem;
    }

    .gotopbtn {
        display: none;
    }

    nav .menu a {
        padding: 20px;
    }

    nav .menu a:hover {
        color: #546FFF;
    }
    
    nav .menu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
       
    }
    nav .menu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }

    .section-a .container {
        margin-top: 120px;
    }

    .section-b .container {
        margin-top: 120px;
    }

    .section-c .container {
        margin-top: 120px;
    }

    .section-d .container {
        margin-top: 120px;
    }

    .section-e .container {
        margin-top: 120px;
    }
}
/* Media querries einde */

