* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 1rem;
    color: #333;
}

::-webkit-scrollbar {
    display: none;
}

/* Nav */

.navbar ul {
    display: flex;
    max-width: 95%;
    align-items: center;
    background-color: transparent;
    color: white;
}
  
.navbar li {
    list-style: none;
    z-index: 99;
    padding: 1.6rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    color: transparent;
    user-select: none;
}

/* Nav einde */


/* Header */

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}


.header-content {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: -270px;
}
h1 span {
    font-size: 40px;
}
.header-content h1 {
    font-size: 60px;
    text-align: center;
}

.header-content p {
    font-size: 1.05rem;
    display: block;
    padding-bottom: 2rem;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 1;
    opacity: 0.98;
}

/* Header einde */


/* Sections */

.section-a {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    z-index: -1;
    background-color: black;
}

/* Sections einde */


/* Loading screen */

/* .loader-bg{
    position: fixed;
    z-index: 999999;
    background: #212121;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    background-color: white;
    transform: scale(0.2);
    animation: anim 1.2s infinite;
}

.dots:nth-child(2){
    animation-delay: 0.2s;
}

.dots:nth-child(3){
    animation-delay: 0.4s;
}

.dots:nth-child(4){
    animation-delay: 0.8s;
}

.dots:nth-child(5){
    animation-delay: 1s;
}

.dots:nth-child(6 ){
    animation-delay: 1.2s;
}

@keyframes anim {
    0%, 100% {
        transform: scale(0.2s);
    }

    50% {
        transform: scale(1);
    }
} */

/* Loading screen einde */


/* Go to top button */

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    background: rgb(255, 102, 0);
} 

/* Go to top button einde */



@media (max-width: 600px) {

    .navbar-links {
        width: 90%;
    }


    .header-content h1 {
        font-size: 45px;
    }
}



.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width: 400px;
    border-radius: 50%;
    max-width: 100%;
}

.text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1 {
    color: rgb(255, 102, 0);
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p {
    color: #c0c4d8;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

button {
    background-color: #546FFF;
    color: white;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}



@media screen and (max-width: 1180px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }

    .about img {
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .text h1 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}
